/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
     padding:0px;
     margin:0px;
     box-sizing: border-box;
 }
 .header1{
     background-color:blueviolet;
     height:70px;
 }
 .container{
     width: 80%;
     margin: 0 auto;
 }
 .row{
     display: flex;
 }

 .logo{
     width: 50%;
     padding-bottom: 5px;
     font-size:36px;

 }
 .nav-links ul{
     float: right;
     list-style: none;
     margin: 0;
     padding:0;
 }

 .nav-links ul li{
     float: left;
     padding-top: 10px;
 }

 .nav-links ul li a{
     display: block;
     margin:10px;
     font-size: 26px;
     color: #efefef;
     text-decoration:none;

     text-align: center;

 }
 .nav-links ul li a:hover{

    color:green;

 }

 .color1{
   color: cadetblue;
 }
 .color2{
    color: crimson;
 }
 .color3{
    color: darkolivegreen;
 }
.log{
    border: 2px solid #ffffff;
    margin:5px;
    border-radius: 5px;
    
}